/**
 * @author:c-code-XTEAM(explorerNW)
 */

body,
ul,
li {
    padding: 0;
    margin: 0;
}

div {
    float: right;
}

li {
    list-style: none;
}

a {
    border: 1px solid white;
    color: white;
    text-decoration: none;
}



.top {
    width: 80%;
    height: 80px;
    background-color: silver;
}

.navigationBar {
    float: left;
    width: 20%;
    transition: all .5s ease-in-out;
    color: white;
    background-color: black;
}

.navigationBar ul li {
    text-align: center;    
    border: 1px solid white;
}

.navigationBar ul li:hover {
    color: white;
    background-color: blue;
}
.navigationBar ul li span {            
    padding: 10px;        
}

.navigationBar ul li{
            text-align: left;
}
#HideShow {
    transition: all .5s ease-in-out;
}

.content {
    width: 80%;
    transition: all .5s ease-in-out;
}

.content iframe {
    border: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: auto;
}